.dash__section2 {
  background: rgba(3, 70, 38, 0.06);
  border-radius: 8px;
  height: auto;
}

.breadcrumb_wrapper {
  --bs-breadcrumb-divider: ">";
  text-align: center;
  display: flex;
}

.ol_list_breadcrumb {
  display: flex;
  align-items: baseline;
}

.breadcrumb_link {
  font-weight: 500;
  font-size: 14px;
  color: #32325d;
  text-decoration: none;
}

.breadcrumb_current {
  font-weight: 500;
  font-size: 14px;
}

.breadcrumb_link:hover {
  color: inherit;
  text-decoration: underline;
}

._icon {
  height: 0.8rem;
  width: 0.8rem;
}

._subheading {
  font-weight: 400;
  font-size: 14px;
  color: #32325d;
}
._heading_leftsection {
  font-weight: 500;
  font-size: 11px;
  color: #797979;
}

._subheading_leftsection {
  font-weight: 500;
  font-size: 12px;
  color: #273238;
}

._heading {
  font-weight: 600;
  font-size: 16px;
  color: #32325d;
  text-transform: uppercase;
}

.edit_icon {
  width: 29px;
  height: 33px;
  cursor: pointer;
}

.view_bigimg {
  height: 326px;
  width: 100%;
  overflow: hidden;
}
.view_bigimg img {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.view_smimg {
  height: 167px;
  width: 160px;
  padding: 0 14px 14px 0px;
}

.view_smimg img {
  height: auto;
  width: 100%;
}

.pill {
  background: rgba(50, 50, 93, 0.06);
  display: flex !important;
  align-items: center;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #32325d !important;
  margin-right: 20px !important;
  text-transform: capitalize;
}

/* View book trips starts here */
.booking_id {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;

  color: #32325d;
}

.booking_id span {
  font-weight: 600;
  font-size: 14px;
}

.booked_title {
  font-weight: 500;
  font-size: 14px;
  color: #32325d;
}
.booked_cat {
  width: 57px;
  height: 20px;
  background: #d9d9d9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  color: #32325d;
  display: flex;
  text-align: center;
  flex-direction: column;
}

/* .table_header th {
  font-weight: 500 !important;
  font-size: 12px !important;
  color: rgba(50, 50, 93, 0.8) !important;
} */
th {
  font-weight: 500 !important;
  font-size: 12px !important;
  color: rgba(50, 50, 93, 0.8) !important;
}

/* .table_body td {
  font-weight: 500;
  font-size: 14px;
  color: #32325d;
} */
td {
  font-weight: 500;
  font-size: 14px;
  color: #32325d;
}
